* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0px 82px;
    
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #212121;
}

.container{
    height: 100vh;
    background: url('https://res.cloudinary.com/dfkn1kzs0/image/upload/v1588506071/bg-desktop_rfy0wb.svg');
    background-color: #674BAF;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    padding:0 20px;
}

nav{
    text-align:left ;
    margin: 45px 0;
    margin-left: 5%;
}
.main-section{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.main-section > div:last-child{
    width: 40%;
    color: white;
    padding: 1.5em;
}

.main-section > div:last-child p{
    font-size: 16px;
    line-height: 24px;
}
.header{
   font-weight: bold;
   font-size: 40px;
   color: white;
   padding-top: 50px;
   line-height: 1.5em;
}
.photo{
    width: 639px;
}
button{
    font-size: 20px;
    padding: 13px;
    background-color: white;
    width: 166px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #674BAF;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 8px 17px -8px black;
    cursor: pointer;
    border: 3px solid white;
}

.footer{
    text-align: end;
    margin: 42px 34px;
    font-size: 41px;
    color: white;
    opacity: 70%;
}
.footeri{
    color: white;
    cursor: pointer;
}
.footeri:hover{
    transform: translate(-5px);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
  }

  .attribution a {
    color: hsl(0, 36.8%, 96.3%);;
  }

@media screen and (max-width: 766px) {
    body{
        overflow: auto;
    }
    .container{
        height: 100%;
        background: url('https://res.cloudinary.com/dfkn1kzs0/image/upload/v1588506071/bg-mobile_sb936e.svg');
        background-color: #674BAF;
        background-size:cover;
        background-position:center;
    }
    .main-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-section > div:last-child {
        width: 80%;
    }
    .main-section > div:last-child p {
        font-size: 15px;
    }
    .main-section img{
        width: 80%;
    }
    .header{
        font-size: 20px;
    }
    nav {
        margin: 10% 0;
        margin-left: 30px;
    }
    nav img{
        width: 40%;
    }
    button{
        font-size: 15px;
        padding: 6px;
        width: 200px;
    }
    .footer{
        margin: 20% 0;
        text-align: center;
        font-size: 28px;
    }
}
